<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
</head>
<body>
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Porritas Manuel</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuario
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/usuario">Ver lista usuarios</a></li>
              <li><a href="/usuario/nuevo/">Registrar usuario</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Porra
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/porra">Ver lista de porras</a></li>
              <li><a href="/porra/nuevo/">Registrar porra</a></li>
            </ul>
          </li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Apuesta Usuario
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/apuestaUsuario">Ver lista de apuestas usuario</a></li>
              <li><a href="/apuestaUsuario/nuevo/">Registrar apuesta usuario</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="https://porraoviedista.es/politica-de-privacidad/"><span class="glyphicon glyphicon-log-in"></span> Gestión de porras Manuel</a></li>
      </ul>
      </div>
    </div>
  </nav>
    <div class="container">

        <form method="post" action="#" th:action="@{/usuario/nuevo/submit}" th:object="${usuario}" class="well form-horizontal">
    <br> <br>
    <fieldset>
    
    <!-- Form Name -->
    
    <legend><center><h2><b>Inscríbase como usuario</b></h2></center></legend><br>
    <input type="hidden" th:field="*{id}" id="id" />
    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label">Nombre</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input  name="first_name" placeholder="Su nombre" class="form-control"  type="text" th:field="*{nombre}" required>
        </div>
      </div>
    </div>
    
    
    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label" >Apellidos</label> 
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input name="last_name" placeholder="Sus apellidos" class="form-control"  type="text"th:field= "*{apellidos}" required>
        </div>
      </div>
    </div>
    
     <div class="form-group">
      <label class="col-md-4 control-label">URL de la Imagen</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input  name="url_image" placeholder="link aquí" class="form-control"  type="text" th:field="*{imagen}"> 
        </div>
      </div>
    </div>  
      
    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label">Saldo</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="bi bi-cash"></i></span>
      <input  name="user_cash" placeholder="Su Saldo" class="form-control"  type="number" min="0" step="0.05" th:field="*{saldo}" required>
        </div>
      </div>
    </div>
    
    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label" >Fecha de nacimiento</label> 
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
      <span class="input-group-addon"><i class="bi bi-info-circle"></i></span>
      <input name="user_birthday" class="form-control"  type="date" th:field="*{fechaNacimiento}"required>
        </div>
      </div>
    </div>
    

    
    <!-- Success message -->
    <div class="alert alert-success" role="alert" id="success_message"> <i class="glyphicon glyphicon-thumbs-up"></i></div>
    
    <!-- Button -->
     <button type="submit" class="btn btn-default">Enviar</button>
    
    
    </fieldset>
    </form>
    </div>
       <!-- /.container -->
</body>
</html>