<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
</head>
<body>
    <div class="container">

        <form class="well form-horizontal" action="#" th:action= "@{porra/nuevo/submit}" method="post"  id="contact_form" th:object="${porra">
    <fieldset>
    
    <!-- Form Name -->
    <legend><center><h2><b>Registre su porra</b></h2></center></legend><br>
    
    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label">Nombre de porra</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input  name="porra_name" placeholder="Nombre" class="form-control"  type="text" th:field="*{nombre}">
        </div>
      </div>
    </div>
    
    
    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label" >Descripción</label> 
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
      <textarea class="form-group" name="" id="Descripción" placeholder="En que consiste..." rows="3" th:field="*{descripcion}"></textarea>
        </div>
      </div>
    </div>
    
     <div class="form-group">
      <label class="col-md-4 control-label">Equipo Local</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="bi bi-shield-shaded"></i></span>
      <input  name="e_local" placeholder="equipo local" class="form-control"  type="text" th:field="*{equipoLocal}">
        </div>
      </div>
    </div>  
      
    <!-- Text input-->
    
    <div class="form-group">
      <label class="col-md-4 control-label">Equipo Visitante</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="bi bi-shield-shaded"></i></span>
      <input  name="e_visitante" placeholder="equipo visitante" class="form-control"  type="text" th:field="*{equipoVisitante}">
        </div>
      </div>
    </div>
 
    
    <!-- Success message -->
    <div class="alert alert-success" role="alert" id="success_message"> <i class="glyphicon glyphicon-thumbs-up"></i></div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4"><br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    </div>
        <!-- /.container -->
</body>
</html>