<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link href="../../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    
</head>
<body>
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Porritas Manuel</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuario
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/usuario">Ver lista usuarios</a></li>
              <li><a href="/usuario/nuevo/">Registrar usuario</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Porra
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/porra">Ver lista de porras</a></li>
              <li><a href="/porra/nuevo/">Registrar porra</a></li>
            </ul>
          </li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Apuesta Usuario
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/apuestaUsuario">Ver lista de apuestas usuario</a></li>
              <li><a href="/apuestaUsuario/nuevo/">Registrar apuesta usuario</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="https://porraoviedista.es/politica-de-privacidad/"><span class="glyphicon glyphicon-log-in"></span> Gestión de porras Manuel</a></li>
      </ul>
      </div>
    </div>
  </nav>
                    
                
                <br> <br> <br>
                <h4 class="modal-title" id="myModalLabel">Formulario de Registro <span class="marca">Apuesta Usuario</span></h4>
            	
            
            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form method="post" action="#" th:action="@{/apuestaUsuario/nuevo/submit}" th:object="${apuestaUsuario}" class="well form-horizontal">
                <input type="hidden" th:field="*{id}" id="id"/>
                    <div class="form-group">
                        <label for="reultado">Resultado</label>
                        
                        <select th:field=*{resultado} required>
                        <option th:each="resultado : ${tipos_resultados}"
                        	th:value="${resultado}" th:text="${resultado}">
						Resultado
						</option>
						</select>
                    </div>
                    <div class="form-group">
                        <label for="inputDin">Dinero Apostado</label>
                        <input type="number" class="form-control" id="inputDin" placeholder="1.0" min="1"  th:field="*{dineroApostado}" required/>
                    </div>
                    <div class="form-group">
                        <label for="inputSelect">Usuarios</label>
                        <select th:field="*{usuario}" class="form-control" id="inputSelect" required>
                          <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nombre}">Usuarios</option>
                          
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="inputSelect">Porras</label>
                        <select th:field="*{porra}" class="form-control" id="inputSelect" required>
                          <option th:each="porra : ${porras}" th:value="${porra.id}" th:text="${porra.nombre}">Porras</option>
                          
                        </select>
                    </div>
                    
                     <button type="submit" class="btn btn-default">ENVIAR</button>

                </form>
                
                <div th:if="*{error}" ><span class="alert alert-danger" role="alert" th:text="*{mensaje_error}"></span></div>
               	<div th:if="*{no_usuario}"><span class="alert alert-danger" role="alert" th:text="*{mensaje}"></span></div>
                
                
            </div>
            
            <!-- Modal Footer -->
            
               
           
      
</body>
</html>

