<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="index_sin_modal.html">Porritas Manuel</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">porras
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Tus porras</a></li>
                  <li><a href="#">Todas las porras</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Porras
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Ver usuarios</a></li>
                  <li><a href="#">Modificar usuarios</a></li>
                </ul>
              </li>
              <li><a href="niños.html">Resultados</a></li>
            </ul>
          </div>
        </div>
      </nav>
    
    <!-- Jumbotron -->
    
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1>Porritas Manuel</h1>      
        <p>Porras</p>
      </div>
    </div>
    
    <div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="pull-right">
					<a href="form-usuario.html" th:href="@{/usuario/nuevo/}" class="btn btn-primary">Nuevo
						Usuario</a>

				</div>

				<table class="table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Equipo Local</th>
							<th>Equipo Visitante</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="porra : ${porras}">
						    <td th:text="${porra.nombre}"></td>
                            <td>
                                <textarea name="desc" id="desc"  rows="3" class="form-control"th:text="${porra.descripcion"></textarea>
                            </td>
							<td th:text="${porra.equipoLocal}">
							<td th:text="${porra.equipoVisitante}"></td>
							<td class="operaciones"><a href="#"
								th:href="@{/porra/editar/{id}(id=${porra.id})}"
								class="btn btn-primary">Editar</a>
								<button type="button" class="btn btn-danger" data-toggle="modal"
									data-target="#delete-modal" th:data-id="${porra.id}">Borrar</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </div>
    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <div class="row">
          
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sobre nosotros</h5>
            <p>Esta sitio web ha sido creado exclusivamente con fin educativo, para aprender el uso de Boostrap.
              Somos dos alumnos del Grado superior de Desarrollo de Aplicaciones Multipataformas, cursando el primer
              año en el Colegio Salesiano de Triana (Sevilla)
            </p>
            <br>
            <p> Teléfono de pedidos: 900 533 433</p>
            <p>Teléfono de atención al cliente: 900 373 111</p>
          </div>
          
    
          
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sitios de interés</h5>
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://static.zara.net/static//pdfs/ES/privacy-policy/privacy-policy-es_ES-20201030.pdf" class="text-dark">Políticas y Privacidad</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Intagram</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Twitter</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Youtube</a>
              </li>
            </ul>
          </div>
          
        </div>
        <br>
      
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      
    </footer>
    <!-- Footer -->
</body>
</html>